jsy-func-editor {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}
jsy-func-editor>pre {
  flex: 1 0;
  min-width: min-content;
  position: relative;
}

jsy-func-editor>pre.dual:after {
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
  content: '(transpiled)';
  overflow: hidden;
  color: #222222dd;
  font-style: italic;
}

jsy-func-editor>pre.dual {
  border-left: 2px dashed #888;
  background: rgba(0,0,0,0.2);
}

